<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Quotes</title>
    <script src="/jquery-3.3.1.min.js"></script>
</head>
<body>
    <h1 id="message"> Loading ... </h1>
</body>
<script>
    function getMessage()
    {
        $.ajax({
            url : '/random-quote',
            type: 'GET',
            dataType:'json',
            success: function(data){
                console.log(data.author);
                console.log(data.id);
                console.log(data.quote)

                var message = data.quote + " -- " + data.author;

                $('#message').text(message);
            },
            error: function (data) {
                $('#message').text("Error: Got No Response");
            }
        });
    }

    $(document).ready(function() {
        window.setInterval(getMessage, 2000);
    });
</script>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</html>